* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.watch_content_container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch_content_container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.watch_content_container ul {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.watch_content_container ul li {
  list-style: none;
  cursor: pointer;
  margin: 10px;
}

.watch_content_container ul li video {
  width: 200px;
  transition: all 0.3s;
}
.watch_content_container ul li video:hover {
  transform: scale(1.1);
}

.watch_content_container video {
  width: 100%;
  height: 100%;
}